body {
  font-size: min(5vw, 5vh, 25px);
}

div.flex-container {
  display: flex;
  flex-wrap: wrap;
}

.distanced {
  margin: 1em;
}

.distanced-right {
  margin-right: 1em;
}

.distanced-top {
  margin-top: 1em;
}

div.resizable {
  width: 14em;
  aspect-ratio: 1.5;

  /* See https://interactjs.io/docs/resizable/ */
  touch-action: none;
  user-select: none;
}

div.overflow-hider {
  /* Follow the parent resizable div: */
  width: 100%;
  height: 100%;

  border-radius: 0.3em;
  overflow: hidden;
}

#myimg {
  /* Follow the parent resizable div: */
  width: 100%;
  height: 100%;
}

div.resizer {
  float: right;
  position: relative;
  left: 2em;
  z-index: 999;

  background-color: #7f0f82;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

div.hint {
  font-size: 0.7em;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
}

div.hint > span {
  float: right;
}

img.logo {
  width: 2em;
  height: 2em;
}

div.qr {
  text-align: center;
}

img.qr {
  width: 8em;
  aspect-ratio: 1;
}

a {
  color: unset !important;
}
